<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PSHBTN</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/global.css')}}">
        <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon-16x16.png')}}" sizes="16x16">
        <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon-32x32.png')}}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon-96x96.png')}}" sizes="96x96">
        {% if debug %}
        <script defer src="{{url_for('static', filename='js/jquery-3.6.0.js')}}"></script>
        <script defer src="{{url_for('static', filename='js/tinycolor.js')}}"></script>
        {% else %}
        <script defer src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
        <script defer src="{{url_for('static', filename='js/tinycolor.min.js')}}"></script>
        {% endif %}
        {% block header %}{% endblock %}
    </head>
    <body>
        <div id="site-header">
            <div>
                <a href="/" id="logo">PSHBTN</a>
            </div>
            <div>
                {% if not logged_in %}
                <a href="/login" id="login">Login</a>
                <a href="/signup" id="signup">Sign Up</a>
                {% else %}
                <a href="/account" id="account">Account</a>
                <a href="/logout" id="logout">Logout</a>
                {% endif %}
            </div>
        </div>
        <div id="site-messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="card"><h2>{{ message }}</h2></div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div id="site-body">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
